html, body {
	padding: 0;
	margin: 0;
	}
html {
	font-size: 1em;
	}
body {
	font-size: 100%;
	}
a img, :link img, :visited img {
	border: 0;
	}

    
 
 h1 {
    font-family: Oswald;
    font-size: 48px;
    line-height: 64px;
    color: white;
    margin: 16px;
 }

 h2 {
    font-family: 'Source Sans Pro';
    font-size: 24px;
    line-height: 32px;
    color: white;
 }

 p {
    font-family: 'Source Sans Pro';
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    width: 980px;
 }

 #transparent_h2 {
    color: rgba(255, 255, 255, 0.7);
 }

 #main_h2 {
    color: #666666;
 }
 
 #headermain_h1 {
    color: #464547;
 }

 #play_button {
    margin: 53px;
 }

 #read_more_button {
    margin: 20px;
 }

 #footer_text {
    color: rgba(255, 255, 255, 0.4);
 }

 .hero {
    background: url(/assets/Desktop_Backgrounds_1920x1200_6\ 3.jpg) 50% 0 no-repeat;
    height: 800px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .main {
    background:#ffffff;
    height: 700px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .learn-more {
    background: url(/assets/Background\ image.jpg) 50% 0 no-repeat;
    height: 666px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .footer {
    background: #464547;
    height: 170px;
    width:1200 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }